*{
    font-family:cursive ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    background:linear-gradient(rgb(250, 250, 250), rgb(255, 255, 255));
    display: flex;
    flex-direction: row;
    justify-content:space-between !important;
    align-items: center;
    height: 12vh;
    gap: 200px;
    /* position:sticky; */
    font-size: 10px;
    
    
}
.logo{
    width: 220px;
    height: 200px;
}
.box{
    
    display: flex;
    justify-content:center;
    align-items: center !important;
    width: 800px;
    height: 451px;
    background-color:rgb(251, 214, 226);
    gap: 60px;
    margin: 20px;
    border-radius:10px;
}
.images{
    width: 450px;
    height: 450px;
}
.img2{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgb(205, 204, 204) 10px 10px;
    cursor: pointer;
}
.img2:hover{
    transform: scale(1.15);
    
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    padding:20px;
}
h1{
    padding: 10px;
}
.shape{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
.circle{
    display: flex;
    /* grid-template-columns: repeat((5,1fr)); */
    gap: 40px;
    margin: 50px;
}
.page4{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    gap: 0px;
}
.page4 p{
    font-size: 80px;
    font-family: "Playfair Display", serif;
    width: 530px;
}
h3{
    font-size: 20px;
}
.page5{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}
.page5 p{
    font-size: 15px;
    width: 300px;   
    color: grey;  
}
.right1{
    display: flex;
    padding: 30px;
    margin: 30px;
    gap: 180px;
    color: grey;
    cursor: pointer;
}
.right1:hover{
    color: black;
    text-decoration: underline;
}
.form{
    width: 380px;
    height: 70px;
    background-color: rgb(255, 255, 255);
}
.form-control{
    border: none;
    padding-left: 25px;
    height: 68px;
    font-size: 16px;
}
.btn{
    padding: 12px 30px;
    font-weight: 600;
    font-size: 18px;
    height: 100%;
    background-color: orange;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: white;
    
}

